[alias]
    a = add
    c = commit
    ca = commit --amend
    co = checkout
    cb = checkout -b
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    lol = log --graph --oneline
    pl = pull
    ps = push
    s = status -s -b
    st = stash
